* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  margin-bottom: 10px;
}
.bigBox {
  background-color: #dbdbdb;
  width: 220px;
  height: 460px;
  padding: 10px;
}
.productBox {
  width: 500px;
  height: 400px;
  padding: 10px;
  background-color: #dbdbdb;
}
.inputBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 90%;
  height: 50px;
  background-color: whitesmoke;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}
.inputBox p{
  width: 100%;
  font-size: x-large;
  text-align:center;
}
.buttons ul{
  padding: 0 0 0 0;
  width: 180px;
  margin: auto auto auto auto;
}
.buttons button, .vendBtn {
  font-size: large;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  box-shadow: 0 9px #58443c;
}
.vendBtn {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
.buttons button {
  margin: 5px;
  height: 50px;
  width: 50px;
}
.buttons button:hover,.vendBtn:hover {
  background-color: #a16b56;
  color: white;
  transition-duration: 0.5s;
}
.buttons button:active,.vendBtn:active {
  transition-duration: 0.1s;
  background-color: #a16b56;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px #58443c;
}
.productCards ul {
  max-height: 370;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap:wrap;
  padding: 0 0 0 20;
  margin-top: 5px;
}

.productCards ul li {
  justify-self: center;
  align-self: center;
  border: #a16b56 2px solid;
  border-radius: 15px;
  height: 170px;
  width: 130px;
  margin: 10px;
  background-color: #f5f5f5;
}

.productCards ul li span {
  width: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.productImageWrapper {
  height: 100px;
  padding: 10 0 10 0;
}
.productTitle {
  align-self: center;
  font-size:medium;
}
.container {
  display: flex;
  justify-content: center;
}

.left-container {
  flex: 1;
  max-width: 230px;
  background-color: #f2f2f2;
  padding: 20px;
}

.right-container {
  flex: 1;
  padding: 20px;
  max-width: max-content;
  background-color: #f2f2f2;
}
.productTitle {
  position: relative;
  height: 50px;
}
.productTitle p {
  text-align: center;
  margin: 0;
}
.top, .bottom {
  position: absolute;
  width: 100%;
}

.top {
  top: 0;
  height: 50%;
}
.top p{
  font-size: large;
}
.bottom {
  bottom: 0;
  height: 50%;
}
.vendDraw {
  border: #a16b56 2px solid;
  border-radius: 0.3rem;
  height: 100px;
  width: 500px;
  background-color: rgb(180 195 244);
  fill-opacity: 50%;
  margin: 25 10 10 10;
}
.vendDraw p {
  margin: 0;
  padding: 0;
  z-index: 0;
  position:absolute;
}
.vendCards ul {
  max-height: 100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap:wrap;
  padding: 0 0 0 20;
  margin: 0;
}
.vendCards ul li span {
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.vendCards ul li {
  justify-self: center;
  align-self: center;
}
.engravedText {
  font-family: Fantasy;
  font-size: 20px;
  font-family: Futura;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}
.productButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition-delay: 4s;
  animation-delay: 4s;
}
.productButton:hover img {
  max-height: 102px;
  filter: drop-shadow(5px 0px 2px  #58443c);
}
.productButton img {
  max-height: 100px;
}