* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bigBox {
  width: fit-content;
  background-color: #dbdbdb;
  width: 220px;
  height: 460px;
  padding: 10px;
}
.productBox {
  width: 500px;
  height: 400px;
  padding: 10px;
  background-color: #dbdbdb;
}
.inputBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 90%;
  height: 50px;
  background-color: whitesmoke;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}
.inputBox p{
  width: 100%;
  font-size: x-large;
  text-align:center;
}
.buttons ul{
  padding: 0 0 0 0;
  width: 180px;
  margin: auto auto auto auto;
}
.buttons button, .vendBtn {
  font-size: large;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  box-shadow: 0 9px #58443c;
}
.vendBtn {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
.buttons button {
  margin: 5px;
  height: 50px;
  width: 50px;
}
.buttons button:hover,.vendBtn:hover {
  background-color: #a16b56;
  color: white;
  transition-duration: 0.5s;
}
.buttons button:active,.vendBtn:active {
  transition-duration: 0.1s;
  background-color: #a16b56;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px #58443c;
}
.productCards ul {
  max-height: 370;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap:wrap;
  padding: 0 0 0 20;
  margin-top: 5px;
}

.productCards ul li {
  justify-self: center;
  align-self: center;
  border: #a16b56 2px solid;
  border-radius: 15px;
  height: 170px;
  width: 130px;
  margin: 10px;
  background-color: #f5f5f5;
}

.productCards ul li span {
  width: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.productImageWrapper {
  height: 100px;
  /* background-color: aqua; */
  padding: 10 0 10 0;
}
.productTitle {
  align-self: center;
  /* background-color: red; */
  font-size:medium;
}
.container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  flex: 1;
  max-width: 230px;
  background-color: #f2f2f2;
  padding: 20px;
}

.right-container {
  flex: 1;
  padding: 20px;
  max-height: 420px;
  background-color: #f2f2f2;
}
.productTitle {
  position: relative;
  height: 50px;
}
.productTitle p {
  text-align: center;
  margin: 0;
}
.top, .bottom {
  position: absolute;
  width: 100%;
}

.top {
  top: 0;
  height: 50%;
}

.bottom {
  bottom: 0;
  height: 50%;
}
.vendDraw {
  height: 100px;
  width: 500px;
  background-color: gray;
  margin: 10px;
}