h1,
p {
  font-family: Lato;
}
.bigBox {
  width: fit-content;
  height: 325px;
  background-color: #dbdbdb;
  width: 220px;
}
.inputBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 90%;
  height: 50px;
  background-color: whitesmoke;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
.inputBox p{
  width: 100%;
  text-align: center;
  font-size: large;
}
.buttons ul{
  padding: 0 0 0 0;
  width: 180px;
  margin: auto auto auto auto;
}
.buttons button {
  margin: 5px;
  height: 50px;
  width: 50px;
  font-size: large;
  background-color: none;
  border: 2px solid #a16b56;
  border-radius: 0.3rem;
  box-shadow: 0 9px #58443c;
}
.buttons button:hover {
  background-color: #a16b56;
  color: white;
  transition-duration: 0.5s;
}
.buttons button:active {
  transition-duration: 0.1s;
  background-color: #a16b56;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 5px #58443c;
}
